# Исследование надежности заемщиков

## Описание проекта
Заказчик — кредитный отдел банка. Необходимо разобраться, влияет ли семейное положение и количество детей клиента на факт погашения кредита в срок. Входные данные от банка — статистика о платёжеспособности клиентов.
Результаты исследования будут учтены при построении модели кредитного скоринга — системы, которая оценивает способность потенциального заёмщика вернуть кредит банку.

## Изучим общую информацию о данных

Импортируем библиотеку pandas. Считаем данные из csv-файла в датафрейм и сохраним в переменную `data`. Путь к файлу: `/datasets/data.csv`

In [1]:
import pandas as pd

try:
    data = pd.read_csv('/datasets/data.csv')
except:
    data = pd.read_csv('datasets/data.csv')

**Описание данных:**
* `children` — количество детей в семье
* `days_employed` — общий трудовой стаж в днях
* `dob_years` — возраст клиента в годах
* `education` — уровень образования клиента
* `education_id` — идентификатор уровня образования
* `family_status` — семейное положение
* `family_status_id` — идентификатор семейного положения
* `gender` — пол клиента
* `income_type` — тип занятости
* `debt` — имел ли задолженность по возврату кредитов
* `total_income` — ежемесячный доход
* `purpose` — цель получения кредита

Выведем первые 20 строчек датафрейма `data` на экран.

In [2]:
data.head(20)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля

Выведем основную информацию о датафрейме с помощью метода `info()`.

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

## Предобработка данных

### Удаление пропусков

Выведем количество пропущенных значений для каждого столбца.

In [4]:
data.isna().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

В двух столбцах есть пропущенные значения. Один из них — `days_employed`. Пропуски в этом столбце обработаем на следующем этапе. Другой столбец с пропущенными значениями — `total_income` — хранит данные о доходах. На сумму дохода сильнее всего влияет тип занятости, поэтому заполним пропуски в этом столбце медианным значением по каждому типу из столбца `income_type`. Например, у человека с типом занятости `сотрудник` пропуск в столбце `total_income` должен заполним медианным доходом среди всех записей с тем же типом.

In [5]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['total_income'].isna()), 'total_income'] = \
    data.loc[(data['income_type'] == t), 'total_income'].median()

### Обработка аномальных значений

В данных могут встречаться артефакты (аномалии) — значения, которые не отражают действительность и появились по какой-то ошибке. Таким артефактом будет отрицательное количество дней трудового стажа в столбце `days_employed`. Обработаем значения в этом столбце: заменим все отрицательные значения положительными с помощью метода `abs()`.

In [6]:
data['days_employed'] = data['days_employed'].abs()

Для каждого типа занятости выведем медианное значение трудового стажа `days_employed` в днях.

In [7]:
data.groupby('income_type')['days_employed'].agg('median')

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

У двух типов (безработные и пенсионеры) получатся аномально большие значения. Исправить такие значения сложно, поэтому оставим их как есть. Этот столбец не понадобится нам для исследования.

Выведем перечень уникальных значений столбца `children`.

In [8]:
data['children'].unique()

array([ 1,  0,  3,  2, -1,  4, 20,  5], dtype=int64)

В столбце `children` есть два аномальных значения. Удалим строки, в которых встречаются такие аномальные значения из датафрейма `data`.

In [9]:
data = data[(data['children'] != -1) & (data['children'] != 20)]

Ещё раз выведем перечень уникальных значений столбца `children`, чтобы убедиться, что артефакты удалены.

In [10]:
data['children'].unique()

array([1, 0, 3, 2, 4, 5], dtype=int64)

### Удаление пропусков (продолжение)

Заполним пропуски в столбце `days_employed` медианными значениями по каждому типу занятости `income_type`.

In [11]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['days_employed'].isna()), 'days_employed'] = \
    data.loc[(data['income_type'] == t), 'days_employed'].median()

Убедимся, что все пропуски заполнены. Проверим себя и ещё раз выведем количество пропущенных значений для каждого столбца с помощью двух методов.

In [12]:
data.isna().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

### Изменение типов данных

Заменим вещественный тип данных в столбце `total_income` на целочисленный с помощью метода `astype()`.

In [13]:
data['total_income'] = data['total_income'].astype(int)

### Обработка дубликатов

Обработем неявные дубликаты в столбце `education`. В этом столбце есть одни и те же значения, но записанные по-разному: с использованием заглавных и строчных букв. Приведем их к нижнему регистру.

In [14]:
data['education'] = data['education'].str.lower()

Выведем на экран количество строк-дубликатов в данных. Если такие строки присутствуют, удалим их.

In [15]:
data.duplicated().sum()

71

In [16]:
data = data.drop_duplicates()

### Категоризация данных

На основании диапазонов, указанных ниже, создадим в датафрейме `data` столбец `total_income_category` с категориями:

- 0–30000 — `'E'`;
- 30001–50000 — `'D'`;
- 50001–200000 — `'C'`;
- 200001–1000000 — `'B'`;
- 1000001 и выше — `'A'`.

In [17]:
def categorize_income(income):
    try:
        if 0 <= income <= 30000:
            return 'E'
        elif 30001 <= income <= 50000:
            return 'D'
        elif 50001 <= income <= 200000:
            return 'C'
        elif 200001 <= income <= 1000000:
            return 'B'
        elif income >= 1000001:
            return 'A'
    except:
        pass

In [18]:
data['total_income_category'] = data['total_income'].apply(categorize_income)

Выведем на экран перечень уникальных целей взятия кредита из столбца `purpose`.

In [19]:
data['purpose'].unique()

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

Создадим функцию, которая на основании данных из столбца `purpose` сформирует новый столбец `purpose_category`, в который войдут следующие категории:
- `'операции с автомобилем'`,
- `'операции с недвижимостью'`,
- `'проведение свадьбы'`,
- `'получение образования'`.

In [20]:
def categorize_purpose(row):
    try:
        if 'автом' in row:
            return 'операции с автомобилем'
        elif 'жил' in row or 'недвиж' in row:
            return 'операции с недвижимостью'
        elif 'свад' in row:
            return 'проведение свадьбы'
        elif 'образов' in row:
            return 'получение образования'
    except:
        return 'нет категории'

In [21]:
data['purpose_category'] = data['purpose'].apply(categorize_purpose)

## Исследуем данные и ответим на некоторые вопросы

### Есть ли зависимость между количеством детей и возвратом кредита в срок?

In [22]:
# Посмотрим доли просроченных кредитов в зависимости от количества детей.
debts_grouped = data.groupby('children')['debt'].agg(['count', 'sum'])
debts_grouped['debt_overdue_fraction'] = debts_grouped['sum'] / debts_grouped['count']
debts_grouped

          count   sum  debt_overdue_fraction
children
0         14091  1063               0.075438
1          4808   444               0.092346
2          2052   194               0.094542
3           330    27               0.081818
4            41     4               0.097561
5             9     0               0.000000

In [23]:
# Посмотрим доли просроченных кредитов в зависимости от того есть ли у заёмщика дети или нет.
data['has_children'] = data['children'].apply(lambda x: True if x > 0 else False)
debts_grouped = data.groupby('has_children')['debt'].agg(['count', 'sum'])
debts_grouped['debt_overdue_fraction'] = debts_grouped['sum'] / debts_grouped['count']
debts_grouped

              count   sum  debt_overdue_fraction
has_children
False         14091  1063               0.075438
True           7240   669               0.092403

In [24]:
frac_with_three_plus_children = data[data['children'] >= 3].groupby('children')['debt'].count().sum() / data.shape[0]
f'Доля кредиторов с 3 и более детьми: {frac_with_three_plus_children:.1%}'

'Доля кредиторов с 3 и более детьми: 1.8%'

**Вывод:** 
- Как видно из представленных выше таблиц наибольшее количество заёмщиков не имеет детей. Доля займов от заёмщиков с 3 и более детьми составляет всего 1,8%. 
- В связи с немногочисленностью таких кредитов оценка доли просроченных кредитов среди этих заёмщиков может быть непредставительной. Так на заёмщиков с 5 детьми приходится всего лишь 9 кредитов, каждый из которых был возвращен без просрочки. Однако, это не означает, что если у кредитора 5 детей - вероятность его возврата в срок будет 100%. Просто данных для корректной оценки этой категории недостаточно.
- Мы можем исключить эти категории из рассмотрения и заключить, что <u>**зависимость между количеством детей и возвратом кредита есть**</u>. Чем больше детей у заёмщика, тем выше вероятность невозврата кредита в срок. 
- Разниа между категориями невелика, но она есть и при увеличении количества детей с 0, до 1, а затем до 2 она снижается. Другими словами, каждый дополнительный ребенок приносит всё меньший вклад в вероятность неисполнения заёмщиком своих обязательств в срок.
- Можно предположить что зависимость связана со значительным ростом финансовой нагрузки в связи с необходимостью воспитывать детей и её большей важностью над всеми другими финансовыми приоритетами. Воспитание детей сопряжено со значительными дополнительными затрами на пищу, медобслуживание, покупку вещей, учёбу, транспорт и прочее. Так же затраты на воспитание детей подвержены эффекту масштаба. 
- Дргим подходом может быть рассмотрение фактора наличия хоть одного ребенка у заёмщика. В таком случае выборка разделится в пропорции примерно 66% к 33%, а разница в доле просроченных кредитов по этим категориям будет составлять около 1,7%.

### Есть ли зависимость между семейным положением и возвратом кредита в срок?

In [25]:
# Посмотрим доли просроченных кредитов в зависимости от семейного положения.
debts_grouped = data.groupby('family_status')['debt'].agg(['count', 'sum'])
debts_grouped['debt_overdue_fraction'] = debts_grouped['sum'] / debts_grouped['count']
debts_grouped.sort_values('debt_overdue_fraction', ascending=True)

                       count  sum  debt_overdue_fraction
family_status
вдовец / вдова           951   63               0.066246
в разводе               1189   84               0.070648
женат / замужем        12261  927               0.075606
гражданский брак        4134  385               0.093130
Не женат / не замужем   2796  273               0.097639

**Вывод:** 
- Из приведенных выше цифрм можно увидеть, что наиболее представлена группа заёмщиков состоящих в браке. При этом самая маленькая группа категории ("вдовец/вдова") представлена в количестве почти 1000 заёмщиков. Это хоть и небольшое число по сравнению с остальными категориями, однако можно с достаточной уверенностью полагаться на представительность этой выборки.
- Из распределения доли просроченных кредитов можно заметить явное разделение на две макро-группы:
    - Люди состоявшие в официальном браке когда-либо в прошлом (доля просроченных кредитов менее 7,5%).
    - Люди не состоявшие в официальном браке (доля просроченных кредитов более 9,3%).
- Из вышесказанного можем заключить, что <u>**зависимость между семейным положением и возвратом кредита в срок есть**</u>. В зависимости от этого фактора средняя доля просроченных кредитов может колебаться от 6,6% до 9,7%.

### Есть ли зависимость между уровнем дохода и возвратом кредита в срок?

In [26]:
# Посмотрим доли просроченных кредитов в зависимости от категории по уровню дохода.
debts_grouped = data.groupby('total_income_category')['debt'].agg(['count', 'sum'])
debts_grouped['debt_overdue_fraction'] = debts_grouped['sum'] / debts_grouped['count']
debts_grouped.sort_values('total_income_category', ascending=True)

                       count   sum  debt_overdue_fraction
total_income_category
A                         25     2               0.080000
B                       5014   354               0.070602
C                      15921  1353               0.084982
D                        349    21               0.060172
E                         22     2               0.090909

In [27]:
def alt_categorize_income(income_category):
    try:
        if income_category == 'A' or income_category == 'B':
            return 'I'
        else:
            return 'II'
    except:
        pass
    
data['total_income_alt_category'] = data['total_income_category'].apply(alt_categorize_income)
debts_grouped = data.groupby('total_income_alt_category')['debt'].agg(['count', 'sum'])
debts_grouped['debt_overdue_fraction'] = debts_grouped['sum'] / debts_grouped['count']
debts_grouped.sort_values('total_income_alt_category', ascending=True)

                           count   sum  debt_overdue_fraction
total_income_alt_category
I                           5039   356               0.070649
II                         16292  1376               0.084459

**Вывод:** 
- Выбранная категоризация по уровню дохода очень неравномерно делит выборку по категориям. Абсолютное большинство кредитов приходится на заёмщиков категорий С и B, при этом категории А, D и E непредставительны.
- Разделение выборки на две представительные категории I и II с total_income более 200 000 (условно высокий доход) и менее 200 000 (условно низкий доход) соответственно даёт более определенный результат. Разница между долями просроченных кредитов между заёмщиками с высоким и низким доходом составляет около 1,3% в пользу заёмщиков с высоким доходом.
- В итоге можно с большой степенью уверенности заключить, что на основе имеющихся данных <u>**уровень дохода влияет на вероятностью возврата кредита в срок. Чем больше доход заёмщика, тем меньше вероятность невыплаты кредита в срок.**</u>.

### Как разные цели кредита влияют на его возврат в срок?

In [28]:
debts_grouped = data.groupby('purpose_category')['debt'].agg(['count', 'sum'])
debts_grouped['debt_overdue_fraction'] = debts_grouped['sum'] / debts_grouped['count']
debts_grouped.sort_values('debt_overdue_fraction', ascending=True)

                          count  sum  debt_overdue_fraction
purpose_category
операции с недвижимостью  10751  780               0.072551
проведение свадьбы         2313  183               0.079118
получение образования      3988  369               0.092528
операции с автомобилем     4279  400               0.093480

In [29]:
min_max_debt_overdue_fraction = debts_grouped['debt_overdue_fraction'].max() - debts_grouped['debt_overdue_fraction'].min()
f'Разбос по категориям: {min_max_debt_overdue_fraction:.1%}'

'Разбос по категориям: 2.1%'

**Вывод:** 
- Кредиты выданные на оперцаии, связанные с недвижимостью и проведением свадеб с большей вероятностью возвращают в срок. Кредиты на получение образования и на операции с автомобилем более рисковые.
- Разница по категориям по доле просроченных кредитов не превышает 2,1%.

### Возможные причины появления пропусков в исходных данных.

- В оригинальных данных пропуски содержались только в столбцах days_employed и total_income.
- Все эти пропуски содержатся в одних и тех же стоках. Т.е. если есть пропуск в days_employed, то есть пропуск и в total_income.
- <u>**Из этого видится маловероятным, что данные появились вследствие человеческой ошибки. Наиболее вероятным можно предположить, что оригинальные данные были либо склеены из нескольких частей, в одной из которых данные по двум столбцам отсутствовали (например, клиенты могли не предоставить часть данных, либо эта информация не требовалась в момент сбора), либо произошел какой-то сбой при выгрузке/записи данных в файл/объединении таблиц.**</u>

In [30]:
# Посмотрим пропуски в days_employed.
try:
    original_data = pd.read_csv('/datasets/data.csv')
except:
    original_data = pd.read_csv('datasets/data.csv')
original_data[original_data['days_employed'].isna()].shape

(2174, 12)

In [31]:
# Посмотрим пропуски в total_income.
original_data[original_data['total_income'].isna()].shape

(2174, 12)

In [32]:
# Посмотрим пропуски в days_employed и total_income.
original_data[(original_data['total_income'].isna()) & (original_data['days_employed'].isna())].shape

(2174, 12)

## Общий вывод

- **Во время работы были загружены, изучены и предобработанные данные из кредитного отдела банка:**
    - Выявлены пропуски в данных в столбцах total_income и days_employed. В связи со значительным числом таких пропусков они были заполнены медианными значениями в зависимости от типа занятости (этот фактор оказывает наибольшее влияние на эти столбцы). Пропуски, вероятно, появились в связи со сбоем при выгрузке/записи данных, либо с отсутствием данных в одном из источников из которых был склеен итоговый файл.
    - Вычищены аномалии в столбце children в размере 123 сток.
    - Удалены дубликаты с учётом регистра по столбцу education.

- **Так же был выявлен ряд зависимостей в данных:**
    - Зависимость между количеством детей и возвратом кредита в срок (большее количество детей снижает вероятность возвращения кредита в срок).
    - Зависимость между семейным положением и возвратом кредита в срок (состояние в браке на момент взятия кредита или в прошлом повышает вероятность возвращения кредита в срок).
    - Зависимость между целью кредита и возвратом кредита в срок (займы на операции связанные с недвижимостью и проведением свадеб с большей вероятностью возвращают в срок, займы на получение образования и на операции с автомобилем более рисковые).
    - Зависимость между уровнем дохода и возвратом кредита в срок (более высокий уровень дохода снижает вероятность просрочек по кредиту).
    
- **Рекомендации для банка, предоставившего данные:**
    - Организовать работу по сбору данных таким образом, чтобы минимизировать человеческий и технический факторы:
        - Минимизировать ручной ввод данных.
        - Там где это невозможно - организовать выбор значений из заранее определенного списка.
        - Применять двойной контроль при технической обработке данных перед тем как направлять сформированные данные на анализ. 
    - Учесть выводы работы по выявленным зависимостям при дальнейшем составлении скоринговой модели.